[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-multipart = "==0.0.9"
opencv-python-headless = "==4.9.0.80"
fastapi = "==0.110.1"
uvicorn = {extras = ["standard"], version = "==0.29.0"}
sqlmodel = "==0.0.16"
aiokafka = "*"
psycopg2-binary = "==2.9.9"
google-cloud = "==0.34.0"
pydantic-settings = "==2.2.1"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"
