[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.110.1"
sqlmodel = "==0.0.16"
python-multipart = "==0.0.9"
uvicorn = {extras = ["standard"], version = "==0.29.0"}
opencv-python-headless = "==4.9.0.80"
aiokafka = "*"
psycopg2-binary = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
